<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">FMH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLinkActiveOptions]="{exact:true}" routerLink="/" routerLinkActive="active">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rent-property" routerLinkActive="active">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-property" routerLinkActive="active">List Property (Free)</a>
        </li>
      </ul>
     <div>
      <ul class="nav navbar-nav">
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link"
          routerLink="user/register"
          routerLinkActive="active"
          >Register</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link"
          routerLink="user/login"
          routerLinkActive="active"
          >Login</a>
        </li>
        <!-- <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link"
          (click)="onLogout()"
          routerLink="user/login"
          routerLinkActive="active"
          >Logout</a>
        </li> -->
      <div *ngIf="loggedIn()" class="dropdown m-5">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Welcome {{loggedinUser}}
      </a>
      <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><i class="fa-solid fa-eye m-1"></i>View Dashboard</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user m-1"></i>My Profile</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa-solid fa-lock m-1"></i>Change Password</a></li>
      <li><a (click)="onLogout()" class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket m-1"></i>Logout</a></li>
      </ul>
      </div>
      </ul>
     </div>
    </div>
  </div>
</nav>