
<div class="card">
    <div class="card-image-wrapper">
        <img *ngIf="property.Image" class ="card-img-top" src="assets/images/{{property.Image}}.jpg" alt="House Image">
        <img *ngIf="!property.Image" class ="card-img-top" src="assets/images/house_default.jpg" alt="House Image">
        <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
                <button class="btn btn-primary" [routerLink]="['/property-detail', property.Id]"><i class="fa-regular fa-pen-to-square"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <h1 class="mb-0">{{property.BHK}} BHK {{property.PType}}</h1>

        <h3>
        <span *ngIf="property.Name">in {{property.Name}}</span>
        <span *ngIf="property.Name && property.City">,</span>
        {{property.City}}
         </h3>

        <h4 class="mt-2" *ngIf="property.FType">{{property.FType}}
        <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to Move </h4>

        <hr class="mt-0 mb-2">

        <h4 class="mb-0" *ngIf="property.Price || property.BuiltArea">Price :<span class="font-highlight">{{property.Price}}</span>
            Area :<span class="font-highlight">{{property.BuiltArea}} Sq Ft</span>
        </h4>
    </div>
</div>


