.card:hover img{
    transform: (1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: .7;
}

.card img{
    transform: (1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.member-icons{
    opacity: 0;
}

.member-icons:hover{
    bottom:40;
    opacity: 1;
    position: absolute;
    bottom: 40;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.animate{
    transition: all 0.3s ease-in-out;
}